{% extends "pages/base.html" %}

{% block title %}Detalhes do Membro da Família{% endblock %}

{% block content %}
<h2 class="text-center">{{ member.name }}</h2>

{% if member.partner %}
<p><strong>Parceiro:</strong> {{ member.partner }}</p>
{% endif %}

<p><strong>Mãe:</strong>
    {% if member.divorced_parent %}
    {{ member.divorced_parent }}
    {% else %}
    Não informado
    {% endif %}
</p>

<h3>Filhos:</h3>
<ul>
    {% if member.children.all %}
    {% for relationship in member.children.all %}
    <li>{{ relationship.child.name }} (ID: {{ relationship.child.id }})</li>
    {% endfor %}
    {% else %}
    <li>Sem filhos registrados.</li>
    {% endif %}
</ul>

<a href="{% url 'familytree:familytree_index' %}" class="btn btn-primary">Voltar à Árvore Genealógica</a>
{% endblock %}