{% extends "pages/base.html" %}

{% block title %}Árvore Genealógica{% endblock %}

{% block content %}
<h1 class="text-center my-4">Árvore Genealógica</h1>
<div class="row justify-content-center">
    {% for member in family_members %}
    <div class="col-md-3">
        <div class="card text-center mb-4">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'familytree:familytree_detail' %}?id={{ member.id }}">
                        {{ member.name }}</a></h5>
                {% if member.partner %}
                <p class="card-text">Parceiro: {{ member.partner }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}