{% extends "pages/base.html" %}

{% block title %}Árvore Genealógica{% endblock %}

{% block content %}
<h1 class="text-center my-4"><strong>Árvore Genealógica</strong></h1>

<!-- Campo de Busca -->
<div class="search-container d-flex justify-content-end align-items-center mb-4">
    <form class="d-flex justify-content-end align-items-center" action="{% url 'familytree:search_family_member' %}"
        method="get">
        <div class="input-group" style="max-width: 400px; width: 100%;">
            <input class="form-control" type="search" name="search" id="search-input" placeholder="Buscar..."
                value="{{ search_value }}" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
        </div>
    </form>
</div>

<!-- Accordion: Exibindo Membros da Família -->
<div class="accordion" id="familyTreeAccordion">
    {% for member in family_members %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ member.id }}">
            <button class="accordion-button {% if forloop.first %} {% else %}collapsed{% endif %}" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapse{{ member.id }}"
                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                aria-controls="collapse{{ member.id }}">
                <b>{{ member.name }}</b> (ID: {{ member.id }})
            </button>
        </h2>
        <div id="collapse{{ member.id }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
            aria-labelledby="heading{{ member.id }}">
            <div class="accordion-body">
                {% if member.info %}
                <p>{{ member.info }}</p>
                {% endif %}

                <!-- Filhos do Membro -->
                <div class="accordion" id="children-accordion-{{ member.id }}">
                    {% include "familytree/recursive_children.html" with children=member.get_children %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}