{% for child in children %}
<div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ child.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ child.id }}" aria-expanded="false" aria-controls="collapse{{ child.id }}">
            <b>{{ child.name }}</b> (ID: {{ child.id }})
        </button>
    </h2>
    <div id="collapse{{ child.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ child.id }}">
        <div class="accordion-body">
            {% if child.info %}
            <p>{{ child.info }}</p>
            {% endif %}

            <!-- Filhos do Filho -->
            <div class="accordion" id="children-accordion-{{ child.id }}">
                {% include "familytree/recursive_children.html" with children=child.get_children %}
            </div>
        </div>
    </div>
</div>
{% empty %}
{% endfor %}
