{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Alunos - Instituto de Educação Prof. Erasmo Pilotto{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Instituto de Educação Prof. Erasmo Pilotto</h1>
    <h2>Sejam Bem-vindo(a)s, alunos e alunas!!!</h2>

    <p>Vídeos e Textos que vimos e discutimos em sala-de-aula ou que servem para complementação:</p>

    <h3>Vídeos</h3>
    <ul class="list-unstyled">
        <li><a href="https://www.youtube.com/watch?v=t2wi5AEF2cA" target="_blank"
                class="text-primary text-decoration-none">Viagem Cósmica</a>
        </li>
        <li><a href="https://example.com/video2" target="_blank" class="text-primary text-decoration-none">Video 2</a>
        </li>
        <li><a href="https://example.com/video3" target="_blank" class="text-primary text-decoration-none">Video 3</a>
        </li>
    </ul>

    <h3>Textos</h3>
    <ul class="list-unstyled">
        <li><a href="https://example.com/text1" target="_blank" class="text-primary text-decoration-none">Texto 1</a>
        </li>
        <li><a href="https://example.com/text2" target="_blank" class="text-primary text-decoration-none">Texto 2</a>
        </li>
        <li><a href="https://example.com/text3" target="_blank" class="text-primary text-decoration-none">Texto 3</a>
        </li>
    </ul>

    <h3>Redações de 2012</h3>
    <ul class="list-unstyled">
        <li><a href="https://example.com/redacao2012_1" target="_blank"
                class="text-primary text-decoration-none">Redação 1</a></li>
        <li><a href="https://example.com/redacao2012_2" target="_blank"
                class="text-primary text-decoration-none">Redação 2</a></li>
    </ul>

    <h3>Redações de 2013</h3>
    <ul class="list-unstyled">
        <li><a href="https://example.com/redacao2013_1" target="_blank"
                class="text-primary text-decoration-none">Redação 1</a></li>
        <li><a href="https://example.com/redacao2013_2" target="_blank"
                class="text-primary text-decoration-none">Redação 2</a></li>
    </ul>

    <h3>Redações de 2014</h3>
    <ul class="list-unstyled">
        <li><a href="https://example.com/redacao2014_1" target="_blank"
                class="text-primary text-decoration-none">Redação 1</a></li>
        <li><a href="https://example.com/redacao2014_2" target="_blank"
                class="text-primary text-decoration-none">Redação 2</a></li>
    </ul>

    <h3>ENEM 2017</h3>
    <ul class="list-unstyled">
        <li><a href="https://example.com/enem2017" target="_blank" class="text-primary text-decoration-none">ENEM
                2017</a></li>
    </ul>

    <h3>VESTIBULAR 2017</h3>
    <ul class="list-unstyled">
        <li><a href="https://example.com/vestibular2017" target="_blank"
                class="text-primary text-decoration-none">Vestibular 2017</a></li>
    </ul>

    <h3>Notas</h3>
    <ul class="list-unstyled">
        <li><a href="https://example.com/notas" target="_blank" class="text-primary text-decoration-none">Notas</a></li>
    </ul>
</div>
{% endblock %}