{% extends 'pages/base.html' %}

{% block title %}Detalhes da Dedicatória{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-8 mx-auto" style="margin-top: 100px;">
        <!-- Card com borda colorida aleatória -->
        <div class="card hover-effect" style="border: 2px solid {{ dedicatoria.random_color }};">
            <div class="card-body">
                <h5 class="card-title"><strong>{{ dedicatoria.name }}</strong></h5>
                <!-- Exibindo a mensagem da dedicatória com filtro safe -->
                <p class="card-text">{{ dedicatoria.message|safe }}</p>

                <!-- Exibindo a imagem se existir -->
                {% if dedicatoria.image %}
                <div class="mt-3">
                    <img src="{{ dedicatoria.image.url }}" alt="Imagem da Dedicatória" class="img-fluid rounded">
                </div>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                <small>Enviado em {{ dedicatoria.created_at|date:"d/m/Y H:i" }}</small>
            </div>
        </div>
        <div>
            <a href="{% url 'pages:dedicatorias' %}" class="btn btn-secondary mt-4 mb-4">Voltar</a>
        </div>

        <!-- Navegação para o próximo e anterior com ícones de setas -->
        <div class="d-flex justify-content-between mt-10">
            {% if prev_dedicatoria %}
            <a href="{% url 'pages:dedicatoria-detalhes' prev_dedicatoria.id %}" class="btn btn-pagination">
                <i class="fas fa-chevron-left"></i> <!-- Ícone de seta para a esquerda -->
            </a>
            {% endif %}
            {% if next_dedicatoria %}
            <a href="{% url 'pages:dedicatoria-detalhes' next_dedicatoria.id %}" class="btn btn-pagination">
                <i class="fas fa-chevron-right"></i> <!-- Ícone de seta para a direita -->
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}