{% extends 'pages/base.html' %}

{% block title %}Dedicatórias Publicadas{% endblock %}

{% block content %}
<div class="container mt-5 px-3">
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 flex-nowrap">
        <h3 class="mb-3 mb-md-0" style="font-size: 30px;"><strong>Dedicatórias Publicadas</strong></h3>
        <a href="{% url 'pages:dedicatoria-criar' %}" class="button is-warning text-center w-md-auto">
            <span class="icon is-small">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span>Criar Nova Dedicatória</span>
        </a>
    </div>

    <div class="row">
        {% for dedicatoria in page_obj %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card hover-effect h-100" style="border: 2px solid {{ dedicatoria.random_color }};">
                <!-- Exibindo a imagem -->
                {% if dedicatoria.image %}
                <img src="{{ dedicatoria.image.url }}" class="card-img-top" alt="Imagem da dedicatória">
                {% endif %}
                <div class="card-body">
                    <!-- Exibindo a mensagem com o filtro safe para permitir o HTML formatado, incluindo imagens -->
                    <p class="card-text">{{ dedicatoria.message|safe|truncatewords:20 }}</p>
                    <!-- Alterei para truncatewords -->
                    <h5 class="card-title"><strong>{{ dedicatoria.name }}</strong></h5>
                </div>
                <div class="card-footer text-muted">
                    <small>Enviado em {{ dedicatoria.created_at|date:"d/m/Y H:i" }}</small>
                    <a href="{% url 'pages:dedicatoria-detalhes' dedicatoria.id %}"
                        class="stretched-link link-hover"></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>Nenhuma dedicatória publicada ainda. Seja o primeiro!</p>
        </div>
        {% endfor %}
    </div>


    <!-- Paginação -->
    <nav class="pagination is-centered mt-4 text-center" role="navigation" aria-label="pagination">
        {% if page_obj.has_previous %}
        <a class="pagination-previous has-background-warning has-text-black" href="?page=1">Primeira</a>
        <a class="pagination-previous has-background-warning has-text-black"
            href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% else %}
        <a class="pagination-previous has-background-warning-light has-text-black" disabled>Primeira</a>
        <a class="pagination-previous has-background-warning-light has-text-black" disabled>Anterior</a>
        {% endif %}

        <ul class="pagination-list">
            <li>
                <span class="pagination-link has-background-warning has-text-black" disabled>
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
            </li>
        </ul>

        {% if page_obj.has_next %}
        <a class="pagination-next has-background-warning has-text-black"
            href="?page={{ page_obj.next_page_number }}">Próxima</a>
        <a class="pagination-next has-background-warning has-text-black"
            href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        {% else %}
        <a class="pagination-next has-background-warning-light has-text-black" disabled>Próxima</a>
        <a class="pagination-next has-background-warning-light has-text-black" disabled>Última</a>
        {% endif %}
    </nav>
</div>
{% endblock %}