{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}
{% block content %}
<div class="container mt-4">
    <!-- Conteúdo principal -->
    <div class="row align-items-center">
        <!-- Centralizar imagem, mover para baixo e para a esquerda -->
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{% static 'img/ivopitz.jpg' %}" alt="Descrição da imagem" class="img-fluid mx-auto custom-image">
        </div>
        <div class="col-md-6">
            <!-- Botão grande com ícone de árvore genealógica -->
            <div class="d-flex justify-content-start mb-5">
                <a href="{% url 'familytree:familytree_index' %}" class="custom-length">
                    <button class="button is-large custom-length button is-warning">
                        <span class="icon is-medium">
                            <i class="fas fa-sitemap"></i>
                        </span>
                        <span>Árvore Genealógica</span>
                    </button>
                </a>
            </div>

            <!-- Título "Sobre Ivo Pitz" -->
            <h2><strong>Sobre Ivo Pitz</strong></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada quam ut arcu fermentum, et
                cursus sapien scelerisque. Integer ultrices, nisi vel facilisis rhoncus, libero massa accumsan massa, et
                fermentum nisi eros vel metus. Vestibulum euismod nunc ut orci posuere, non dictum elit ultricies.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada quam ut arcu fermentum, et
                cursus sapien scelerisque. Integer ultrices, nisi vel facilisis rhoncus, libero massa accumsan massa, et
                fermentum nisi eros vel metus. Vestibulum euismod nunc ut orci posuere, non dictum elit ultricies.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada quam ut arcu fermentum, et
                cursus sapien scelerisque. Integer ultrices, nisi vel facilisis rhoncus, libero massa accumsan massa, et
                fermentum nisi eros vel metus. Vestibulum euismod nunc ut orci posuere, non dictum elit ultricies.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada quam ut arcu fermentum, et
                cursus sapien scelerisque. Integer ultrices, nisi vel facilisis rhoncus, libero massa accumsan massa, et
                fermentum nisi eros vel metus. Vestibulum euismod nunc ut orci posuere, non dictum elit ultricies.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada quam ut arcu fermentum, et
                cursus sapien scelerisque. Integer ultrices, nisi vel facilisis rhoncus, libero massa accumsan massa, et
                fermentum nisi eros vel metus. Vestibulum euismod nunc ut orci posuere, non dictum elit ultricies.
            </p>
        </div>
    </div>
</div>
{% endblock %}