/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.page-header h1 {
    margin: 0;
    font-size: 2rem;
}

.page-header a {
    color: white;
    text-decoration: none;
}

/* Menu de Navegação Principal */
.main-nav {
    position: relative;
}

.menu-toggle {
    display: none;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-menu li {
    position: relative;
}

.main-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    background-color: #333;
    border: 1px solid #495057;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-menu a:hover {
    background-color: #495057;
    color: #f8f9fa;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    list-style: none;
    border: 1px solid #495057;
    z-index: 1000;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #495057;
}

/* Mostrar o dropdown ao clicar */
.dropdown-menu.show {
    display: block;
}

/* Estilos para o menu em dispositivos móveis */
@media (max-width: 767.98px) {
    .main-menu {
        display: none;
        flex-direction: column;
    }

    .main-nav.show .main-menu {
        display: flex;
    }

    .menu-toggle {
        display: block;
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
    }
}

/* Rodapé */
.main-footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 1rem 2rem;
    margin-top: auto;
    border-top: 1px solid #495057;
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info {
    flex: 3;
    min-width: 200px;
    margin-bottom: 1rem;

}

.footer-links {
    flex: 1;
    min-width: 200px;
}

.footer-links h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #adb5bd;
}

.rights {
    background-color: #495057;
    padding: 0.5rem 1rem;
    text-align: center;
    border-top: 1px solid #6c757d;
    font-size: 0.8rem;
}